<script type="text/javascript">
function showMenu(o,m,n){
    if(o==0){
document.getElementById(m).style.display="none";
}else{
for(var i = 1;i<=n;i++){
if(i!=o){
document.getElementById("h_menu_"+i).style.display="none";
}else{
document.getElementById("h_menu_"+o).style.display="block";
}
}

}

}
</script>
<div class="about_us tit_style2" style=" margin-left:50px;">
<a onMouseOver="showMenu(1,'h_menu_1',5);" style="color: #DDDDDD;">推荐链接</a>
</div>
<!--about us end-->

<table align="center" width="1000px" id="h_menu_1" border="0" cellspacing="0" cellpadding="0" style="border:#cdcccd solid 1px;display:none;" class="undis"  onmouseover="showMenu(1,'h_menu_1',5);" onMouseOut="showMenu(0,'h_menu_1',5);" bgcolor="#FFFFFF">
		<tr>
          
		  <td width="30" height="79">
		 </td>
         <td valign="top">
		   <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="6" colspan="3"></td>
              </tr>
              <tr>
                <td width="1%"> </td>
                <td width="97%" height="22" class="nrz12Copy" align="left">
<A href="http://www.njshunsheng.com/" target="_blank">气体报警器</A>|
<a href="http://www.13883300090.com/" target="_blank">黄栀子苗</a>|
<A href="http://www.hongbaoqun.cn/" target="_blank">微信红包群 </A>|
<A href="http://www.xuanchuanpian.net/" target="_blank">宣传片制作</A>|
<A href="http://www.kandvd.cc/" title="快播电影网">快播电影网</A>|
<A href="http://www.litotrans.com/" target="_blank">上海翻译公司</a>|
<A href="http://www.ddjysjzzs.com/" target="_blank">当代教育实践与教学研究</A>|
<A href="http://www.ctiku.com/" target="_blank">国际学校</a>|
<A href="http://www.dsaiyin.com/" target="_blank">转运系统</A>|
<A href="http://www.tianxiongzhengyuan.com/" target="_blank">天雄正元胶囊</A>|
<a href="http://www.modaii.com/" target="_blank">女大学生</a>|
<a href="http://www.bvjie.com/" target="_blank">白洁</a>|
</td>
                <td width="2%"> </td>
              </tr>              
              <tr>
                <td height="6" colspan="3"></td>
              </tr>
           </table>
          </td>
			
        </tr>
</table> 
